<% if obj.errors.any? %>
  <div class="row justify-content-center mb-4">
    <div class="col-lg-8">
      <div class="panel-card border border-danger-subtle">
        <div>
          <h2 class="h5 panel-title">
            <%= pluralize(obj.errors.count, "error") %>
            prohibited this article from being saved:
          </h2>
          <div class="mt-3 panel-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
