<div class="container mt-4">
  <% flash.each do |name, msg| %>
    <% alert_type = case name
      when 'notice' then 'success'
      when 'alert' then 'warning'
      when 'error' then 'danger'
      else name
    end %>
    
    <div class="alert alert-<%= alert_type %> alert-dismissible fade show" role="alert">
      <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>